In [1]:
import numpy as np #membaca data dari csv dan array
import pandas as pd #membaca data csv

In [5]:
df = pd.read_csv('spam.csv', encoding = 'ISO-8859-1', usecols = [0,1])

In [6]:
df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [7]:
df['v1'] = df.v1.map({'ham':0, 'spam':1}) #merubah kolom v1 menjadi integer dan kta yang menentukan

In [8]:
df.head()

   v1                                                 v2
0   0  Go until jurong point, crazy.. Available only ...
1   0                      Ok lar... Joking wif u oni...
2   1  Free entry in 2 a wkly comp to win FA Cup fina...
3   0  U dun say so early hor... U c already then say...
4   0  Nah I don't think he goes to usf, he lives aro...

In [10]:
df.shape

(5572, 2)

In [29]:
dokumen = ['hello, how are you!', ' money earn from here', 'Congratulation brow','call me please','send me money']

In [30]:
from sklearn.feature_extraction.text import CountVectorizer

In [31]:
count_vector = CountVectorizer()

In [32]:
count_vector.fit(dokumen)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 1), preprocessor=None, stop_words=None,
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [33]:
names = count_vector.get_feature_names()

In [34]:
names

['are',
 'brow',
 'call',
 'congratulation',
 'earn',
 'from',
 'hello',
 'here',
 'how',
 'me',
 'money',
 'please',
 'send',
 'you']

In [35]:
doc_array = count_vector.transform(dokumen).toarray()

In [36]:
doc_array

array([[1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0],
       [0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0]])

In [37]:
frequency_matrix = pd.DataFrame(data = doc_array, columns = names)

In [38]:
frequency_matrix

,are,brow,call,congratulation,earn,from,hello,here,how,me,money,please,send,you
0,1,0,0,0,0,0,1,0,1,0,0,0,0,1
1,0,0,0,0,1,1,0,1,0,0,1,0,0,0
2,0,1,0,1,0,0,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,1,0,1,0,0
4,0,0,0,0,0,0,0,0,0,1,1,0,1,0

In [39]:
from sklearn.model_selection import train_test_split

In [41]:
x_train,x_test, y_train,y_test = train_test_split(df['v2'], df['v1'], random_state = 1)

In [46]:
count_vector = CountVectorizer()

In [47]:
trainingData = count_vector.fit_transform(x_train)

In [48]:
testing_data = count_vector.transform(x_test)

In [50]:
from sklearn.naive_bayes import MultinomialNB

In [52]:
naive_bayes = MultinomialNB()

In [53]:
naive_bayes.fit(trainingData, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [89]:
kata = ['Free laptop']
new_data = count_vector.transform(kata)

In [90]:
new_data

<1x7496 sparse matrix of type '<class 'numpy.int64'>'
	with 2 stored elements in Compressed Sparse Row format>

In [103]:
predic = naive_bayes.predict(testing_data)

In [104]:
predic

array([0, 0, 0, ..., 0, 0, 0])

In [105]:
from sklearn.metrics import accuracy_score, precision_score, recall_score

In [106]:
acc = accuracy_score(y_test, predic)

In [107]:
acc

0.9856424982053122